@charset "UTF-8";
.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  font-family: "Montserrat";
  box-sizing: border-box;
}

nav {
  background-color: white;
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #1F1F1D;
}
nav .menu-icon img {
  width: 18px;
  height: 18px;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .logo img {
  width: 38px;
  height: 27px;
}
nav .nav-links {
  display: none;
}
nav .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
nav .icons p {
  margin-right: 0.5rem;
}
nav .icons .login-text {
  display: none;
}
nav .icons .login-icon {
  display: flex;
}
nav .icons img {
  width: 18px;
  height: 18px;
}

.primary-enabled-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1F1F1D;
  font-size: 0.833125rem;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
  padding: 6px 12px;
  gap: 10px;
  border-radius: var(--Spacing-2, 8px);
  border: 1px solid var(--Color-Blue-Blue-5, #6887D8);
  background: var(--Color-button-background-primary, #A4B7E8);
}
.primary-enabled-button:hover {
  background: #546eb1;
  color: white;
}
.primary-enabled-button:active {
  background: var(--Color-Blue-Blue-8, #2D3B62);
  color: white;
}
.primary-enabled-button:focus {
  background: var(--Color-Blue-Blue-8, #2D3B62);
  color: white;
  outline: none;
}
.primary-enabled-button:disabled, .primary-enabled-button.disabled {
  background: var(--Color-Neutral-Neutral-5, #B8B8B8);
  color: white;
  cursor: not-allowed;
  border: 1px solid var(--Color-Neutral-Neutral-5, #B8B8B8);
}

.secondary-enabled-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  padding: 6px 12px;
  gap: 10px;
  border-radius: var(--Spacing-2, 8px);
  border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
  background: var(--Color-button-label-primary, #F8F8F8);
}
.secondary-enabled-button:hover {
  background: var(--Color-Neutral-Neutral-2, #E3E3E3);
  color: #1F1F1D;
}
.secondary-enabled-button:active {
  background: var(--Color-Blue-Blue-8, #2D3B62);
  color: white;
}
.secondary-enabled-button:focus {
  background: var(--Color-Blue-Blue-8, #2D3B62);
  color: white;
  outline: none;
}
.secondary-enabled-button:disabled, .secondary-enabled-button.disabled {
  background: var(--Color-Neutral-Neutral-5, #B8B8B8);
  color: white;
  cursor: not-allowed;
  border: 1px solid var(--Color-Neutral-Neutral-5, #B8B8B8);
}

.input-container {
  position: relative;
  width: 100%;
}
.input-container .input {
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  border-radius: var(--Spacing-spacing-xs, 8px);
  background: #FFF;
  border: 1px solid #ccc;
  font-size: 13.33px;
  outline: none; /* Quita el borde azul predeterminado del input */
  transition: all 0.3s ease; /* Transición suave para cambios de estilo */
}
.input-container .input:not(:-moz-placeholder-shown) {
  top: -10px; /* Mueve el label hacia arriba */
  left: 12px; /* Mantén la alineación horizontal */
  font-size: 12px; /* Reduce el tamaño de la fuente */
}
.input-container .input:focus + .input-label, .input-container .input:not(:placeholder-shown) {
  top: -10px; /* Mueve el label hacia arriba */
  left: 12px; /* Mantén la alineación horizontal */
  font-size: 12px; /* Reduce el tamaño de la fuente */
}
.input-container .input-label {
  position: absolute;
  top: 50%; /* Centra verticalmente el label dentro del input */
  left: 12px; /* Alineación horizontal */
  transform: translateY(-50%); /* Asegura que el label esté centrado verticalmente */
  color: #888;
  font-size: 13.33px;
  pointer-events: none; /* Evita que el label interfiera con el clic en el input */
  transition: all 0.3s ease; /* Transición suave para cambios de estilo */
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: auto;
  width: 100%;
  background: #F8F8F8;
  position: static;
}
.hero-section .hero-background-image {
  width: 288px;
  height: 75px;
  position: absolute;
  left: 28.5px;
  top: 124px;
  z-index: -1;
}
.hero-section .hero-content .hero-texts-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  z-index: 2;
  height: 246px;
  padding-top: 54px;
  padding-left: 18px;
}
.hero-section .hero-content .hero-texts-button .hero-text {
  color: #1F1F1D;
  font-size: 0.833125rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
  padding-bottom: 12px;
}
.hero-section .hero-content .hero-texts-button .hero-title {
  color: #546eb1;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.4;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
  letter-spacing: 1.44px;
  flex: 1 0 0;
  padding-bottom: 30px;
}
.hero-section .hero-content .hero-carousel {
  background: #F2E6DE;
  margin-top: 32px;
  padding: 16px 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
}
.hero-section .hero-content .hero-carousel .carousel-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  transition: transform 1s ease-in-out;
  width: 100%;
  left: 0;
}
.hero-section .hero-content .hero-carousel .carousel-wrapper img {
  width: 100vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.features-section {
  position: relative;
  overflow: hidden;
  height: 500px;
  background: url("../assets/svg/features-background.png") no-repeat center top;
  background-size: 100% 500px; /* 100% de ancho, altura fija */
}
.features-section .features-content {
  min-height: auto;
  color: #1F1F1D;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: center;
  letter-spacing: normal;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 457px;
  gap: 10px;
  position: relative;
  z-index: 1; /* Asegura que el contenido esté encima del fondo */
}
.features-section .features-content .feature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 34px;
  height: 76px;
}
.features-section .features-content .feature .feature-image {
  width: 62px;
  height: 62px;
  margin-right: 38px;
}
.features-section .features-content .feature .feature-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.features-section .features-content .feature .feature-text {
  width: 200px;
}
.features-section .features-content .feature .feature-text h3 {
  margin: 0;
  color: #1F1F1D;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.features-section .features-content .feature .feature-text p {
  color: #1F1F1D;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}

.feedback-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 846px;
  width: 357px;
  gap: 28px;
  margin: 0 auto;
}
.feedback-section .feedback-title {
  color: #546eb1;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: center;
  letter-spacing: normal;
  font-family: "Montserrat";
  position: relative;
}
.feedback-section .feedback-title .feedback-background-image {
  width: 270px;
  height: 34px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 1.5px;
  top: 46px;
  z-index: -1;
}
.feedback-section .feedbacks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 250px;
  gap: 20px 7px;
  margin: 0 auto;
}
.feedback-section .feedbacks p {
  color: #1F1F1D;
  font-size: 0.833125rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: center;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.feedback-section .feedbacks h3 {
  color: #546eb1;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: center;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.feedback-section .feedbacks img {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
}

.section-title h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1F1F1D;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: center;
  letter-spacing: normal;
  font-family: "Montserrat";
  height: 48px;
  padding: 0px 15px 0px 14px;
  flex-shrink: 0;
  background: #F8F8F8;
}

.workshop-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.workshop-section .workshop {
  padding-bottom: 28px;
  width: 100%;
}
.workshop-section .workshop .workshop-image-left,
.workshop-section .workshop .workshop-image-right {
  height: auto;
}
.workshop-section .workshop .workshop-image-left img,
.workshop-section .workshop .workshop-image-right img {
  width: 80%;
  height: auto;
}
.workshop-section .workshop .workshop-image-right {
  text-align: right;
}
.workshop-section .workshop .workshop-content {
  width: 95%;
  padding: 12px 0 18px 12px;
}
.workshop-section .workshop .workshop-content .workshop-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text h3 {
  color: #546eb1;
  font-size: 0.833125rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text img {
  fill: #546eb1;
  width: 24px;
  height: 24px;
  padding: 10px;
}
.workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text .default-text {
  display: none;
}
.workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text .expand-icon {
  transition: transform 0.3s ease, content 0.3s ease; /* Transiciones suaves para rotación */
}
.workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text .expand-icon.rotate {
  transform: rotate(180deg); /* Rota el icono 180 grados */
}
.workshop-section .workshop .workshop-content .expandable-text {
  width: 75%;
  display: none;
  transition: opacity 0.3s ease-in-out; /* Añade una transición de opacidad */
}
.workshop-section .workshop .workshop-content .expandable-text p {
  margin-top: 4px;
  margin-left: 18px;
  color: #1F1F1D;
  font-size: 0.833125rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.workshop-section .workshop .workshop-content .expandable-text.show {
  display: block;
  opacity: 1; /* Cambia a opacidad 1 para que sea visible */
}

.shop-section {
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.shop-section .shop-image img {
  width: 100%;
}
.shop-section .shop-content {
  width: 90%;
  padding-left: 24px;
  padding-right: 42px;
}
.shop-section .shop-content h3 {
  color: #546eb1;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
  margin-top: 24px;
  margin-bottom: 8px;
}
.shop-section .shop-content p {
  width: 75%;
  color: #1F1F1D;
  font-size: 0.833125rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.shop-section .shop-content .text-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.product-section {
  padding-bottom: 32px;
}
.product-section .product-card-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 307px;
  padding: 16px;
  gap: 16px;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Ocultar barra de desplazamiento en Firefox */
  -ms-overflow-style: none; /* Ocultar barra de desplazamiento en Internet Explorer y Edge */
}
.product-section .product-card-list ::-webkit-scrollbar {
  display: none; /* Ocultar barra de desplazamiento en Chrome, Safari, Opera */
}
.product-section .product-card-list .product-card {
  display: flex;
  width: 224px;
  height: 272px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.product-section .product-card-list .product-card .card-image {
  width: 224px;
  height: 180px;
}
.product-section .product-card-list .product-card .card-image img {
  border-radius: var(--Spacing-spacing-s, 12px) var(--Spacing-spacing-s, 12px) 0px 0px;
}
.product-section .product-card-list .product-card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  width: 80%;
  height: 72px;
}
.product-section .product-card-list .product-card .card-text .card-title {
  color: #1F1F1D;
  font-size: 0.833125rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.product-section .product-card-list .product-card .card-text .card-info {
  width: 100%;
  height: 12px;
  top: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #1F1F1D;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.product-section .product-card-list .product-card .card-text .card-price {
  padding-bottom: 8px;
  color: #1F1F1D;
  font-size: 0.833125rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}

.newsletter-section {
  gap: 12px;
}
.newsletter-section .newsletter .newsletter-image img {
  width: 100%;
}
.newsletter-section .newsletter .newsletter-content {
  padding: 24px 42px 12px 24px;
}
.newsletter-section .newsletter .newsletter-content h3 {
  width: 70%;
  color: #546eb1;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.newsletter-section .newsletter .newsletter-content p {
  color: #1F1F1D;
  font-size: 0.833125rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
}
.newsletter-section .newsletter .newsletter-content .text-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  gap: 24px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/svg/footer-mobile-background.png") no-repeat center center;
  background-size: 100% 600px;
  margin-top: 30px;
  padding-top: 80px;
}
.footer-section .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 26px;
  padding-bottom: 30px;
  width: 55%;
}
.footer-section .footer-content .footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  position: relative;
}
.footer-section .footer-content .footer-info .footer-column h4 {
  color: #F8F8F8;
  font-size: 0.833125rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
  margin-bottom: 10px;
}
.footer-section .footer-content .footer-info .footer-column a, .footer-section .footer-content .footer-info .footer-column p {
  color: #F8F8F8;
  font-size: 0.833125rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
  margin-top: 4px;
  margin-bottom: 0;
  text-decoration: none;
}
.footer-section .footer-content .footer-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.footer-section .footer-content .footer-social img {
  width: 18px;
  height: 18px;
}
.footer-section .footer-content .footer-credits {
  color: #F8F8F8;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  margin-right: 0;
  text-align: left;
  letter-spacing: normal;
  font-family: "Montserrat";
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .navbar .menu-icon {
    display: none;
  }
  .navbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    order: 1;
  }
  .navbar .logo img {
    width: 77px;
    height: 35px;
    content: url("../assets/img/Bora_Logo_brown.png");
  }
  .navbar .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 2;
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .navbar .nav-links p {
    margin: 0 1rem;
  }
  .navbar .icons {
    order: 3;
  }
  .navbar .icons .login-icon {
    display: none;
  }
  .navbar .icons .login-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar .icons img {
    width: 22px;
    height: 22px;
  }
  .hero-section {
    width: 100%;
    flex-shrink: 0;
    position: relative;
  }
  .hero-section .hero-background-image {
    width: 352px;
    height: 82px;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 110.5px;
    top: 139px;
    z-index: -1;
  }
  .hero-section .hero-content {
    width: 100%;
    height: 815px;
    position: relative;
    z-index: 2;
  }
  .hero-section .hero-content .hero-texts-button {
    padding-top: 50px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 563px;
    height: 300px;
    flex-shrink: 0;
  }
  .hero-section .hero-content .hero-texts-button .hero-text {
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
    font-style: normal;
  }
  .hero-section .hero-content .hero-texts-button .hero-title {
    color: #546eb1;
    font-size: 3rem;
    font-weight: 400;
    line-height: 140%;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
    font-style: normal;
    letter-spacing: 1.44px;
    flex: 1 0 0;
  }
  .hero-section .hero-content .hero-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 592px;
    height: 424px;
    position: absolute;
    right: 87px;
    top: 330px;
    background: #FFF;
    padding: 12px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 0 0 12px #FFF;
    padding: 0;
  }
  .hero-section .hero-content .hero-carousel img {
    width: 570px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-section .hero-content .hero-carousel .carousel-wrapper {
    display: flex;
    width: 600%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }
  .hero-section .hero-content .hero-carousel .carousel-wrapper img {
    width: 600%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    object-fit: cover;
  }
  .hero-section .hero-content {
    position: relative;
  }
  .hero-section .hero-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background-color: #F2E6DE;
    z-index: 1;
  }
  .primary-enabled-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 12px 24px;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-background-primary, #A4B7E8);
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .secondary-enabled-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    padding: 12px 24px;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-label-primary, #F8F8F8);
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .features-section .features-content {
    display: grid;
    grid-template-columns: repeat(2, 240px);
  }
  .features-section .features-content .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 170px;
    padding: 20px;
    text-align: center;
  }
  .features-section .features-content .feature .feature-image {
    margin: 0 0 20px 0;
  }
  .features-section .features-content .feature .feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .features-section .features-content .feature .feature-text h3 {
    color: #1F1F1D;
    font-size: 0.833125rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
    font-style: normal;
  }
  .features-section .features-content .feature .feature-text p {
    color: #1F1F1D;
    font-size: 0.833125rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
    font-style: normal;
  }
  .feedback-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 506px;
    width: 923px;
    margin: 0 auto;
  }
  .feedback-section .feedback-title h3 {
    color: #546eb1;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
    letter-spacing: 1.6px;
    width: 923px;
  }
  .feedback-section .feedback-title .feedback-background-image {
    width: 411px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 519.5px;
    top: 28px;
    z-index: -1;
  }
  .feedback-section .feedbacks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 904px;
    gap: 48px 7px;
    flex-shrink: 0;
    margin: 0 auto;
  }
  .feedback-section .feedbacks p {
    color: #1F1F1D;
    font-size: 0.833125rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
    width: 264px;
  }
  .feedback-section .feedbacks h3 {
    color: #546eb1;
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .feedback-section .feedbacks img {
    display: block;
    margin: 0 auto;
  }
  .section-title h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 15px 0 14px;
    flex-shrink: 0;
    background: #F8F8F8;
    color: #1F1F1D;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .workshop-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .workshop-section .secondary-enabled-button::before {
    content: "¡Me apunto!";
  }
  .workshop-section .workshop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
    width: 100%;
    align-items: center;
  }
  .workshop-section .workshop .workshop-image-left,
  .workshop-section .workshop .workshop-image-right {
    height: auto;
  }
  .workshop-section .workshop .workshop-image-left img,
  .workshop-section .workshop .workshop-image-right img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 520px;
  }
  .workshop-section .workshop .workshop-image-right {
    margin-left: auto;
    margin-right: 0;
    order: 2;
    text-align: right;
    align-self: flex-end;
  }
  .workshop-section .workshop .workshop-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 245px;
    gap: 15px;
    padding-left: 126px;
    padding-right: 126px;
    text-align: left;
  }
  .workshop-section .workshop .workshop-content .workshop-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-left: 0;
    padding-bottom: 12px;
    width: 100%;
  }
  .workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text h3 {
    color: #546eb1;
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text .default-text {
    display: block;
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .workshop-section .workshop .workshop-content .expandable-text {
    display: none;
  }
  .workshop-section .workshop .workshop-content .expand-icon {
    display: none;
  }
  .shop .shop-image {
    width: 100%;
  }
  .product-section .product-card-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 307px;
    padding: 12px;
    gap: 24px;
    overflow-x: auto;
    overflow: hidden;
    scroll-snap-type: x mandatory;
  }
  .product-section .product-card-list .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 283px;
    gap: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .product-section .product-card-list .product-card .card-image {
    width: 232px;
    height: 188px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  .product-section .product-card-list .product-card .card-image img {
    width: 100%;
    height: 100%;
  }
  .product-section .product-card-list .product-card .card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    width: 80%;
    height: 72px;
  }
  .product-section .product-card-list .product-card .card-text .card-title {
    color: #1F1F1D;
    font-size: 0.833125rem;
    font-weight: 700;
    line-height: 1.2;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .product-section .product-card-list .product-card .card-text .card-info {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #1F1F1D;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.2;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .product-section .product-card-list .product-card .card-text .card-price {
    padding-bottom: 8px;
    color: #1F1F1D;
    font-size: 0.833125rem;
    font-weight: 400;
    line-height: 1.2;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100% 440px;
  }
  .footer-section .footer-content {
    gap: 32px;
  }
  .footer-section .footer-content .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 40px;
    width: 100%;
    padding-left: 0;
  }
  .footer-section .footer-content .footer-info .footer-column {
    margin-bottom: 0;
    text-decoration: none;
    width: 280px;
  }
  .footer-section .footer-content .footer-info .footer-column h4 {
    color: #F8F8F8;
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
    margin-bottom: 10px;
  }
  .footer-section .footer-content .footer-info .footer-column a, .footer-section .footer-content .footer-info .footer-column p {
    color: #F8F8F8;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .footer-section .footer-content .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }
  .footer-section .footer-content .footer-social img {
    width: 22px;
    height: 22px;
  }
  .footer-section .footer-content .footer-credits {
    color: #F8F8F8;
    font-size: 1rem;
    font-weight: 300px;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
    margin-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .navbar .menu-icon {
    display: none;
  }
  .navbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    order: 1;
  }
  .navbar .logo img {
    width: 120px;
  }
  .navbar .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 2;
  }
  .navbar .nav-links p {
    margin: 0 1rem;
  }
  .navbar .icons {
    order: 3;
  }
  .navbar .icons .login-icon {
    display: none;
  }
  .navbar .icons .login-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar .icons img {
    width: 26px;
    height: 26px;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 698px;
    background: url("../assets/svg/Hero_desk_background.PNG") no-repeat center center;
    background-size: cover;
    position: relative;
  }
  .hero-section .hero-background-image {
    width: 450px;
    height: 124px;
    position: absolute;
    left: 30.5px;
    top: 136px;
    z-index: -1;
  }
  .hero-section .hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 87px;
    height: 424px;
  }
  .hero-section .hero-content .hero-texts-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 563px;
    height: 350px;
    order: 2;
  }
  .hero-section .hero-content .hero-texts-button .hero-text {
    color: #1F1F1D;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
    font-style: normal;
  }
  .hero-section .hero-content .hero-texts-button .hero-title {
    color: #546eb1;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 140%;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
    font-style: normal;
    letter-spacing: 2.24px;
    flex: 1 0 0;
  }
  .hero-section .hero-content .hero-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 592px;
    height: 424px;
    background: #FFF;
    overflow: hidden;
    box-shadow: 0 0 0 18px #FFF;
    order: 1;
    padding: 0;
  }
  .hero-section .hero-content .hero-carousel img {
    width: 570px;
    height: 400.5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-section .hero-content .hero-carousel .carousel-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 600%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }
  .hero-section .hero-content .hero-carousel .carousel-wrapper img {
    width: 600%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .primary-enabled-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 43px;
    padding: 12px 72px;
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-background-primary, #A4B7E8);
    gap: 10px;
    color: #1F1F1D;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .secondary-enabled-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 12px 72px;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-label-primary, #F8F8F8);
    color: #1F1F1D;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .features-section .features-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .features-section .features-content .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: auto;
  }
  .features-section .features-content .feature .feature-image {
    width: 98px;
    height: 98px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  .features-section .features-content .feature .feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .features-section .features-content .feature .feature-text h3 {
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .features-section .features-content .feature .feature-text p {
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: normal;
    font-family: "Montserrat";
    font-style: normal;
  }
  .feedback-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 529px;
    width: 1012px;
    margin: 0 auto;
  }
  .feedback-section .feedback-title h3 {
    color: #546eb1;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: 1.8px;
    font-family: "Montserrat";
    width: 1012px;
  }
  .feedback-section .feedback-title .feedback-background-image {
    width: 452px;
    height: 66px;
    position: absolute;
    left: 573.5px;
    top: 25px;
    z-index: -1;
  }
  .feedback-section .feedbacks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1021px;
    gap: 48px 7px;
    flex-shrink: 0;
    margin: 0 auto;
  }
  .feedback-section .feedbacks p {
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: 0;
    font-family: "Montserrat";
    width: 264px;
  }
  .feedback-section .feedbacks h3 {
    color: #546eb1;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .feedback-section .feedbacks img {
    display: block;
    margin: 0 auto;
  }
  .section-title h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 15px 0 14px;
    flex-shrink: 0;
    background: #F8F8F8;
    color: #1F1F1D;
    font-size: 1.44rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: center;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .workshop-section {
    display: flex;
    flex-direction: column;
  }
  .workshop-section .secondary-enabled-button::before {
    content: "¡Me apunto!";
  }
  .workshop-section .workshop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    width: 100%;
  }
  .workshop-section .workshop .workshop-image-left,
  .workshop-section .workshop .workshop-image-right {
    height: auto;
  }
  .workshop-section .workshop .workshop-image-left img,
  .workshop-section .workshop .workshop-image-right img {
    width: 100%; /* Ocupará el ancho máximo del contenedor sin desbordarse */
    max-width: 640px; /* No crecerá más allá de 640px */
    height: auto;
  }
  .workshop-section .workshop .workshop-image-right {
    margin-left: auto; /* Alinea la imagen a la derecha */
    margin-right: 0;
    order: 2;
    text-align: right; /* Asegura que la imagen esté alineada a la derecha dentro de su contenedor */
    align-self: flex-end; /* Alinea el contenedor en el borde derecho */
  }
  .workshop-section .workshop .workshop-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    padding-left: 156px;
    padding-right: 156px;
    gap: 45px;
    text-align: left;
  }
  .workshop-section .workshop .workshop-content .workshop-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-left: 0;
    padding-bottom: 18px;
    width: 100%;
  }
  .workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text h3 {
    color: #546eb1;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .workshop-section .workshop .workshop-content .workshop-info .workshop-icon-text .default-text {
    display: block;
    color: #1F1F1D;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .workshop-section .workshop .workshop-content .expandable-text {
    display: none;
  }
  .workshop-section .workshop .workshop-content .expand-icon {
    display: none;
  }
  .shop-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .shop-section .secondary-enabled-button::before {
    content: "Ver productos";
  }
  .shop-section .shop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }
  .shop-section .shop-image {
    width: 65%;
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .shop-section .shop-image img {
    width: 100%;
    height: auto;
  }
  .shop-section .shop-content {
    width: 35%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 88px;
    padding-right: 88px;
  }
  .shop-section .shop-content h3 {
    color: #546eb1;
    font-size: 1.44rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .shop-section .shop-content p {
    color: #1F1F1D;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .shop-section .shop-content .text-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }
  .shop-section .shop-content button {
    align-self: flex-start;
  }
  .product-section .product-card-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 337px;
    padding: 18px;
    gap: 28px;
    overflow-x: auto;
    overflow: hidden;
    scroll-snap-type: x mandatory;
  }
  .product-section .product-card-list .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 334px;
    gap: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .product-section .product-card-list .product-card .card-image {
    width: 298px;
    height: 228px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  .product-section .product-card-list .product-card .card-image img {
    width: 100%;
    height: 100%;
  }
  .product-section .product-card-list .product-card .card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    width: 80%;
    height: 78px;
  }
  .product-section .product-card-list .product-card .card-text .card-title {
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .product-section .product-card-list .product-card .card-text .card-info {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #1F1F1D;
    font-size: 0.833125rem;
    font-weight: 400;
    line-height: 1.2;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .product-section .product-card-list .product-card .card-text .card-price {
    padding-bottom: 12px;
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .newsletter-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  .newsletter-section .secondary-enabled-button::before {
    content: "Ver productos";
  }
  .newsletter-section .newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  .newsletter-section .newsletter .newsletter-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    width: 50%;
    order: 2;
  }
  .newsletter-section .newsletter .newsletter-image img {
    width: 100%;
    height: auto;
  }
  .newsletter-section .newsletter .newsletter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 376px;
    order: 1;
    padding-left: 108px;
    padding-right: 88px;
  }
  .newsletter-section .newsletter .newsletter-content h3 {
    color: #546eb1;
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .newsletter-section .newsletter .newsletter-content p {
    color: #1F1F1D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: normal;
    font-family: "Montserrat";
  }
  .newsletter-section .newsletter .newsletter-content .text-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
  }
  .newsletter-section .newsletter .newsletter-content button {
    align-self: flex-start;
  }
  .newsletter-section .newsletter .newsletter-content input {
    margin-bottom: 20px;
    width: 312px;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100% 460px;
    padding-bottom: 0;
  }
  .footer-section .footer-content {
    gap: 32px;
    padding-left: 100px;
  }
  .footer-section .footer-content .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 100px;
    width: 100%;
    padding-left: 0;
  }
  .footer-section .footer-content .footer-info .footer-column {
    margin-bottom: 0;
    text-decoration: none;
    width: 280px;
  }
  .footer-section .footer-content .footer-info .footer-column h4 {
    color: #F8F8F8;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
    margin-bottom: 10px;
  }
  .footer-section .footer-content .footer-info .footer-column a, .footer-section .footer-content .footer-info .footer-column p {
    color: #F8F8F8;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
  }
  .footer-section .footer-content .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }
  .footer-section .footer-content .footer-social img {
    width: 26px;
    height: 26px;
  }
  .footer-section .footer-content .footer-credits {
    color: #F8F8F8;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 120%;
    margin-right: 0;
    text-align: left;
    letter-spacing: 0;
    font-family: "Montserrat";
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=main.css.map */