@media (min-width: 1280px) {
  nav {
    padding: 12px 36px 12px 36px;

    .menu-icon {
      display: none; // Ocultar icono de menú en desktop
    }

    .logo {
      @include flex-layout($align: center);
      order: 1; // El logo va primero

      img {
        width: 110px;
        height: auto;
        content: url('../assets/img/Bora_Logo_brown.png');
      }
    }

    .nav-links {
      @include flex-layout(row, center, center);
      order: 2;

      p {
        margin: 0 1rem; // Espaciado entre los enlaces
        @include typography($size: $desktop-M, $weight: 500, $align: center);

      }

      .nav-link {
        margin: 0 1rem; // Espaciado entre los enlaces
        cursor: pointer;
        text-decoration: none;
        color: $primary-text-color; // Color por defecto
        position: relative; // Necesario para posicionar ::after

        &::after {
          content: "";
          position: absolute;
          left: 26;
          bottom: -5px; // Ajusta la distancia desde el texto
          width: 80%;
          height: 2px; // Ajusta el grosor de la línea
          background-color: transparent; // Invisible por defecto
          transition: background-color 0.3s ease, transform 0.3s ease;
          transform: scaleX(0); // Inicialmente oculto
          transform-origin: left; // Hace que la animación comience desde la izquierda

        }

        &.active {
          color: $accent-color; // Cambia el color del texto cuando está activo
        }

        &.active::after {
          $color: $accent-color;
          background-color: $accent-color; // Color de la línea
          transform: scaleX(1); // Expande la línea al 100%
        }
      }
    }

    .icons {
      order: 3; // Iconos van al final
      gap: 32px;

      .login-icon {
        display: none;
      }

      .login-text {
        @include flex-layout(row, center, center);
        @include typography($size: $desktop-M, $weight: 500, $align: flex-start);
      }

      img {
        width: 26px;
        height: 26px;
      }
    }
  }

  .hero-section {
    @include flex-layout(column, center, center);
    width: 100%;
    height: 698px;
    background: url('../assets/svg/Hero_desk_background.PNG') no-repeat center bottom;
    background-size: cover; // Asegura que la imagen cubra todo el contenedor
    position: relative;

    .hero-background-image {
      width: 439px;
      height: 121px;
      position: absolute;
      left: 41.5px;
      top: 152px;
      z-index: -1; // Envía la imagen al fondo
    }

    .hero-content {
      @include flex-layout(row, center, center);
      gap: 87px;
      height: 424px;

      .hero-texts-button {
        @include flex-layout(column, flex-start, flex-start);
        width: 563px;
        height: 350px;
        order: 2;

        .hero-text {
          @include typography($size: $desktop-M, $weight: 700);
          font-style: normal;
        }

        .hero-title {
          @include typography($accent-color, $size: 56px, $lineHeight: 140%);
          font-style: normal;
          letter-spacing: 2.24px;
          flex: 1 0 0;
        }
      }

      .hero-carousel {
        @include flex-layout(row, center, center);
        width: 592px;
        height: 424px;
        background: #FFF;
        overflow: hidden; // Ocultar contenido que sobrepase el contenedor
        box-shadow: 0 0 0 12px #FFF;
        order: 1;
        padding: 0;

        img {
          width: 570px;
          height: 400.5px;
          object-fit: cover; // Asegura que la imagen mantenga su proporción
        }

        .carousel-wrapper {
          @include flex-layout();
          width: 600%; // 100% por cada imagen (6 en total)
          height: 100%;
          transition: transform 1s ease-in-out; // Animación de deslizamiento

          img {
            width: 600%; // Ajusta el ancho de cada imagen (100%/6 imágenes)
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .input-container {
    position: relative;
    width: 100%;

    .input {
      width: 376px;
      height: 48px;
    }

    .input-label {
      position: absolute;
      top: 50%; // Centra verticalmente el label dentro del input 
      left: 12px; // Alineación horizontal 
      transform: translateY(-50%); // Asegura que el label esté centrado verticalmente 
      color: #888;
      font-size: 16px;
      pointer-events: none; // Evita que el label interfiera con el clic en el input
      transition: all 0.3s ease; // Transición suave 
    }
  }

  .primary-enabled-button {
    @include flex-layout(row, center, center);
    height: 43px;
    padding: 12px 72px;
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-background-primary, #A4B7E8);
    gap: 10px;
    @include typography($size: $desktop-M,
      $weight: 500,
      $align: center);

    img {
      width: 26px;
      height: 26px;
    }


  }

  .secondary-enabled-button {
    @include flex-layout(row, center, center);
    height: 48px;
    padding: 12px 72px;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-label-primary, #F8F8F8);
    @include typography($size: $desktop-M,
      $weight: 500,
      $align: center);

    img {
      width: 26px;
      height: 26px;
    }


  }


  .features-section {
    height: 480px;
    background-size: 100% 380px;

    .features-content {
      @include flex-layout(row, center, flex-start);
      text-align: center;
      justify-content: center;
      height: 320px;
      margin-top: 30px;

      .feature {
        @include flex-layout(column, center, center);
        width: 298px;
        height: auto;
        padding: 4px 12px;

        .feature-image {
          width: 98px;
          height: 98px;
          margin: 0 0 20px 0; // centra con 20px bottom
        }

        .feature-text {
          @include flex-layout(column, center, center);
          text-align: center;

          h3 {
            @include typography($size: $desktop-M, $weight: 700, $align: center);
          }

          p {
            @include typography($size: $desktop-S, $align: center);
            font-style: normal;
          }
        }
      }
    }
  }

  .feedback-section {
    @include flex-layout(column, flex-start, center);
    height: 590px;
    width: 1012px;
    margin: 0 auto;
    gap: 32px;

    .feedback-title {
      h3 {
        @include typography($color: $accent-color, $size: 36px, $weight: 700, $letter-spacing: 1.8px, $align: center);
        width: 1012px;
      }

      .feedback-background-image {
        width: 434px;
        height: 61px;
        position: absolute;
        left: 583.5px;
        top: 29px;
        z-index: -1; // Envía la imagen al fondo
      }
    }

    .feedbacks {
      @include flex-layout(row, space-between, flex-start);
      width: 1021px;
      gap: 56px;
      flex-shrink: 0;
      margin: 0 auto;

      p {
        @include typography($size: $desktop-S, $align: center);
        width: 294px;
      }

      h3 {
        @include typography($color: $accent-color, $size: $desktop-X, $weight: 700, $align: center);
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .section-title h2 {
    @include flex-layout(column, center, center);
    height: 72px;
    padding: 0 24px 0 16px;
    flex-shrink: 0;
    background: $background-color;
    @include typography($size: $desktop-X, $weight: 700, $align: center);
  }

  .workshop-section {
    .secondary-enabled-button::before {
      content: "¡Me apunto!";
    }

    .workshop,
    .workshop-left {
      @include flex-layout($align: center);
      padding-bottom: 40px;
      padding-top: 32px;
      width: 100%;

      .workshop-image-left,
      .workshop-image-right {
        height: auto;
        width: 70%;
        max-width: 920px;

        img {
          @include image-resize(96%, auto);
        }
      }


      .workshop-image-right {
        margin-left: auto;
        margin-right: 0;
        order: 2;
        text-align: right;
        align-self: flex-end; // Alinea el contenedor en el borde derecho
      }

      .workshop-content {
        @include flex-layout(column, center, center);
        width: 400px;
        //width: 30%;
        padding-left: 220px;
        padding-right: 120px;
        text-align: left;

        .workshop-info {
          @include flex-layout(column, space-between, flex-start);
          width: 100%;

          .workshop-icon-text {
            @include flex-layout(column, flex-start, flex-start);
            text-align: left;
            padding-left: 0;
            padding-bottom: 18px;
            width: 100%;

            h3 {
              @include typography($color: $accent-color, $size: $desktop-M, $weight: 700);
            }

            .default-text {
              display: block;
              @include typography($size: $desktop-S);
            }
          }
        }

        .expandable-text {
          display: none;
        }

        .expand-icon {
          display: none;
        }
      }
    }
  }

  .shop-section {
    width: 100%;
    @include flex-layout(row, space-between, stretch);

    .secondary-enabled-button::before {
      content: "Ver productos";
    }

    .shop {
      @include flex-layout();
      width: 100%;
    }

    .shop-image {
      width: 65%;
      order: 2; // Para que la imagen aparezca a la derecha
      @include flex-layout(row, flex-end, center);

      img {
        width: 100%;
        height: auto;
      }
    }

    .shop-content {
      width: 35%;
      order: 1; // Para que el contenido aparezca a la izquierda
      @include flex-layout(column, center, flex-start);
      padding-right: 88px;
      padding-left: 120px;

      h3 {
        @include typography($color: $accent-color, $size: $desktop-X, $weight: 700);
      }

      p {
        @include typography($size: $desktop-M);
      }

      .text-button {
        @include flex-layout(column, flex-start, flex-start);
        gap: 16px;
      }

      button {
        align-self: flex-start;
      }
    }
  }

  .product-section {
    padding-bottom: 42px;

    .carousel-container {
      position: relative;
      display: flex;
      align-items: center;

      .carousel-button {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
        border-radius: 50%; // fondo circular

        img {
          width: 48px; // Ajusta el tamaño del ícono según sea necesario
          height: auto;
          transition: transform 0.3s ease;
        }

        &.left-button {
          left: 0;

          img {
            transform: rotate(90deg);
            /* Rotar 90º a la izquierda */
          }
        }

        &.right-button {
          right: 0;

          img {
            transform: rotate(-90deg);
            /* Rotar 90º a la derecha */
          }
        }
      }

      .product-card-list {
        @include flex-layout();
        height: 414px;
        padding: 18px;
        gap: 28px;
        overflow-x: auto; // Scroll horizontal
        overflow: hidden;
        scroll-snap-type: x mandatory; // Ajuste de desplazamiento suave

        .product-card {
          @include flex-layout($direction: column, $align: center);
          width: 320px;
          height: 354px;
          border-radius: 12px;
          position: relative; // Para posicionar los botones sobre la imagen

          .card-image {
            width: 320px;
            height: 228px;
            border-radius: 12px 12px 0 0;
            overflow: hidden;
            position: relative; // Para los botones

            img {
              width: 100%;
              height: 100%;
              transition: opacity 0.3s ease; // Transición para la transparencia
            }

            .overlay-buttons {
              //    display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: flex;
              flex-direction: column;
              gap: 12px;
              opacity: 0; // Inicialmente invisible
              transition: opacity 0.3s ease; // Transición para la aparición de los botones

              img {
                opacity: 1; // Imagen transparente al 30%
                width: 24px;
                height: 24px;
              }

              .primary-enabled-button,
              .secondary-enabled-button {

                height: 48px;
                width: 90px;

                  &:hover .cart-icon,
                  &:active .cart-icon,
                  &:focus .cart-icon,
                  &:disabled .cart-icon {
                    content: url('../assets/svg/cart-white.svg');
                  }

                  &:active .heart-icon,
                  &:focus .heart-icon,
                  &:disabled .heart-icon {
                    content: url('../assets/svg/heart-white.svg');
                  }
                }
            }
          }

          .card-text {
            padding-top: 4px;
            height: 92px;

            .card-title {
              @include typography($color: $primary-text-color, $size: $desktop-M, $weight: 700);
            }

            .card-info {
              width: 100%;
              height: 18px;
              @include typography($color: $primary-text-color, $size: $desktop-S);
            }

            .card-price {
              padding-bottom: 12px;
              @include typography($color: $primary-text-color, $size: $desktop-M);
            }
          }

          &:hover {
            .card-image img {
              opacity: 0.3; // Imagen transparente al 30%
            }

            .overlay-buttons {
              opacity: 1; // Mostrar los botones en hover

              img {
                opacity: 1; // Imagen transparente al 30%
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }

  .newsletter-section {
    @include flex-layout($justify: space-between);
    width: 100%;
    padding-bottom: 32px;

    .secondary-enabled-button::before {
      content: "Ver productos";
    }

    .newsletter {
      @include flex-layout($justify: space-between);
      width: 100%;


      .newsletter-image {
        @include flex-layout(row, flex-end, stretch);
        width: 50%;
        order: 2; // Para que la imagen aparezca a la derecha

        img {
          width: 100%;
          height: auto;
        }
      }

      .newsletter-content {
        @include flex-layout(column, center, flex-start);
        width: 396px;
        order: 1;
        padding-left: 120px;
        padding-right: 88px;

        h3 {
          @include typography($color: $accent-color, $size: $desktop-X, $weight: 700);
          margin: 0;
        }

        p {
          @include typography($size: $desktop-M);
        }

        .text-button {
          @include flex-layout(column, flex-start, flex-start);
          @include flex-layout(column, flex-start, flex-start);

          gap: 24px;

        }

        button {
          align-self: flex-start;
        }
      }
    }
  }

  .footer-section {
    @include flex-layout(column, center, center);
    background-size: 100% 600px;
    height: 600px;
    padding-top: 0;
    padding-bottom: 0;

    .footer-content {
      gap: 36px;
      padding-bottom: 0;
      width: 75%;

      .footer-info {
        @include flex-layout(row, center, flex-start);
        gap: 160px;

        .footer-column {
          margin-bottom: 0;
          text-decoration: none;
          width: 90%;

          h4 {
            @include typography($color: $background-color,
              $size: $desktop-M,
              $weight: 700);
            margin-bottom: 10px;

          }

          a,
          p {
            @include typography($color: $background-color,
              $size: $desktop-S );

            margin-bottom: 12px;
          }
        }
      }

      .footer-social {
        @include flex-layout(row, flex-start, center);
        gap: 24px;

        img {
          width: 26px;
          height: 26px;
        }
      }

      .footer-credits {
        @include typography($color: $background-color,
          $size: $desktop-S,
          $weight: 300);
        margin-bottom: 16px;
      }
    }
  }

}