@media (min-width: 1280px) {
  nav {
    padding: 12px 24px 12px 24px;

    .menu-icon {
      display: none; // Ocultar icono de menú en desktop
    }

    .logo {
      @include flex-layout(row, flex-start, center);
      order: 1; // El logo va primero

      img {
        width: 110px;
        height: auto;
        content: url('../assets/img/Bora_Logo_brown.png');
      }
    }

    .nav-links {
      @include flex-layout(row, center, center);
      order: 2;

      p {
        margin: 0 1rem; // Espaciado entre los enlaces
        @include typography($size: 16px, $weight: 500, $align: center);

      }
    }

    .icons {
      order: 3; // Iconos van al final
      gap: 24px;

      .login-icon {
        display: none;
      }

      .login-text {
        @include flex-layout(row, center, center);
        @include typography($size: 16px, $weight: 500, $align: flex-start);
      }

      img {
        width: 26px;
        height: 26px;
      }
    }
  }

  .hero-section {
    @include flex-layout(column, center, center);
    width: 100%;
    height: 698px;
    background: url('../assets/svg/Hero_desk_background.PNG') no-repeat center bottom;
    background-size: cover; // Asegura que la imagen cubra todo el contenedor
    position: relative;

    .hero-background-image {
      width: 450px;
      height: 124px;
      position: absolute;
      left: 30.5px;
      top: 136px;
      z-index: -1; // Envía la imagen al fondo
    }

    .hero-content {
      @include flex-layout(row, center, center);
      gap: 87px;
      height: 424px;

      .hero-texts-button {
        @include flex-layout(column, flex-start, flex-start);
        width: 563px;
        height: 350px;
        order: 2;

        .hero-text {
          @include typography($primary-text-color, 19.2px, 700, 120%, 0, left);
          font-style: normal;
        }

        .hero-title {
          @include typography($accent-color, 56px, 400, 140%, 0, left);
          font-style: normal;
          letter-spacing: 2.24px;
          flex: 1 0 0;
        }
      }

      .hero-carousel {
        @include flex-layout(row, center, center);
        width: 592px;
        height: 424px;
        background: #FFF;
        overflow: hidden; // Ocultar contenido que sobrepase el contenedor
        box-shadow: 0 0 0 12px #FFF;
        order: 1;
        padding: 0;

        img {
          width: 570px;
          height: 400.5px;
          object-fit: cover; // Asegura que la imagen mantenga su proporción
        }

        .carousel-wrapper {
          @include flex-layout(row, flex-start, stretch);
          width: 600%; // 100% por cada imagen (6 en total)
          height: 100%;
          transition: transform 1s ease-in-out; // Animación de deslizamiento

          img {
            width: 600%; // Ajusta el ancho de cada imagen (100%/6 imágenes)
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .input-container {
    position: relative;
    width: 100%;

    .input {
      width: 376px;
      height: 48px;
    }

    .input-label {
      position: absolute;
      top: 50%; // Centra verticalmente el label dentro del input 
      left: 12px; // Alineación horizontal 
      transform: translateY(-50%); // Asegura que el label esté centrado verticalmente 
      color: #888;
      font-size: 16px;
      pointer-events: none; // Evita que el label interfiera con el clic en el input
      transition: all 0.3s ease; // Transición suave 
    }
  }

  .primary-enabled-button {
    @include flex-layout(row, center, center);
    height: 43px;
    padding: 12px 72px;
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-background-primary, #A4B7E8);
    gap: 10px;
    @include typography($color: $primary-text-color,
      $size: 19.2px,
      $weight: 500,
      $lineHeight: 120%,
      $letter-spacing: 0,
      $align: center);
  }

  .secondary-enabled-button {
    @include flex-layout(row, center, center);
    height: 48px;
    padding: 12px 72px;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-label-primary, #F8F8F8);
    @include typography($color: $primary-text-color,
      $size: 19.2px,
      $weight: 500,
      $lineHeight: 120%,
      $letter-spacing: 0,
      $align: center);
  }


  .features-section {
    height: 480px;
    background-size: 100% 380px;

    .features-content {
      @include flex-layout(row, center, center);
      text-align: center;
      justify-content: center;
      height: 320px;
      margin-top: 30px;

      .feature {
        @include flex-layout(column, center, center);
        width: 265px;
        height: auto;
        padding: 4px 12px;

        .feature-image {
          width: 98px;
          height: 98px;
          margin: 0 0 20px 0; // centra con 20px bottom
        }

        .feature-text {
          @include flex-layout(column, center, center);
          text-align: center;

          h3 {
            @include typography($color: $primary-text-color, $size: 16px, $weight: 700, $lineHeight: 120%, $align: center);
          }

          p {
            @include typography($color: $primary-text-color, $size: 16px, $weight: 400, $lineHeight: 120%, $align: center);
            font-style: normal;
          }
        }
      }
    }
  }

  .feedback-section {
    @include flex-layout(column, flex-start, center);
    height: 529px;
    width: 1012px;
    margin: 0 auto;
    gap: 32px;

    .feedback-title {
      h3 {
        @include typography($color: $accent-color, $size: 36px, $weight: 700, $lineHeight: 120%, $letter-spacing: 1.8px, $align: center);
        width: 1012px;
      }

      .feedback-background-image {
        width: 452px;
        height: 66px;
        position: absolute;
        left: 573.5px;
        top: 25px;
        z-index: -1; // Envía la imagen al fondo
      }
    }

    .feedbacks {
      @include flex-layout(row, center, center);
      width: 1021px;
      gap: 56px;
      flex-shrink: 0;
      margin: 0 auto;

      p {
        @include typography($color: $primary-text-color, $size: 16px, $weight: 400, $lineHeight: 120%, $letter-spacing: 0, $align: center);
        width: 264px;
      }

      h3 {
        @include typography($color: $accent-color, $size: 19.2px, $weight: 700, $lineHeight: 120%, $letter-spacing: 0, $align: center);
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .section-title h2 {
    @include flex-layout(column, center, center);
    height: 72px;
    padding: 0 24px 0 16px;
    flex-shrink: 0;
    background: $background-color;
    @include typography($color: $primary-text-color, $size: 23.04px, $weight: 700, $lineHeight: 120%, $letter-spacing: 0, $align: center);
  }

  .workshop-section {
    .secondary-enabled-button::before {
      content: "¡Me apunto!";
    }

    .workshop,
    .workshop-left {
      @include flex-layout(row, flex-start, center);
      padding-bottom: 40px;
      padding-top: 32px;
      width: 100%;

      .workshop-image-left,
      .workshop-image-right {
        height: auto;
        width: 70%;
        max-width: 920px;

        img {
          @include image-resize(96%, auto);
        }
      }


      .workshop-image-right {
        margin-left: auto;
        margin-right: 0;
        order: 2;
        text-align: right;
        align-self: flex-end; // Alinea el contenedor en el borde derecho
      }

      .workshop-content {
        @include flex-layout(column, center, center);
        width: 390px;
        //width: 30%;
        padding-left: 220px;
        padding-right: 120px;
        text-align: left;

        .workshop-info {
          @include flex-layout($direction: column, $justify: space-between, $align: flex-start);
          width: 100%;

          .workshop-icon-text {
            @include flex-layout(column, flex-start, flex-start);
            text-align: left;
            padding-left: 0;
            padding-bottom: 18px;
            width: 100%;

            h3 {
              @include typography($color: $accent-color, $size: 19.2px, $weight: 700, $lineHeight: 120%, $letter-spacing: 0, $align: left);
            }

            .default-text {
              display: block;
              @include typography($color: $primary-text-color, $size: 19.2px, $weight: 400, $lineHeight: 120%, $letter-spacing: 0, $align: left);
            }
          }
        }

        .expandable-text {
          display: none;
        }

        .expand-icon {
          display: none;
        }
      }
    }
  }

  .shop-section {
    width: 100%;
    @include flex-layout(row, space-between, stretch);

    .secondary-enabled-button::before {
      content: "Ver productos";
    }

    .shop {
      @include flex-layout(row, flex-start, stretch);
      width: 100%;
    }

    .shop-image {
      width: 65%;
      order: 2; // Para que la imagen aparezca a la derecha
      @include flex-layout(row, flex-end, center);

      img {
        width: 100%;
        height: auto;
      }
    }

    .shop-content {
      width: 35%;
      order: 1; // Para que el contenido aparezca a la izquierda
      @include flex-layout(column, center, flex-start);
      padding-right: 88px;
      padding-left: 120px;

      h3 {
        @include typography($color: $accent-color, $size: 23.04px, $weight: 700, $lineHeight: 120%, $letter-spacing: 0, $align: left); // Usando typography para los encabezados
      }

      p {
        @include typography($color: $primary-text-color, $size: 19.2px, $weight: 400, $lineHeight: 120%, $letter-spacing: 0, $align: left);
      }

      .text-button {
        @include flex-layout(column, flex-start, flex-start);
        gap: 16px;
      }

      button {
        align-self: flex-start;
      }
    }
  }

  .product-section {
    padding-bottom: 42px;
    .product-card-list {
      @include flex-layout();
      height: 414px;
      padding: 18px;
      gap: 28px;
      overflow-x: auto; // Scroll horizontal
      overflow: hidden;
      scroll-snap-type: x mandatory; // Ajuste de desplazamiento suave
      // -webkit-overflow-scrolling: touch; // Scroll suave en dispositivos móviles

      .product-card {
        @include flex-layout($direction: column, $justify: flex-start, $align: center);
        width: 298px;
        height: 334px;
        gap: 0;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        .card-image {
          width: 298px;
          height: 228px;
          border-radius: 12px 12px 0 0;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .card-text {
          padding-top: 12px;
          gap: 1px;
          height: 92px;

          .card-title {
            @include typography($color: $primary-text-color, $size: 16px, $weight: 700, $lineHeight: 1.2, $align: left);
          }

          .card-info {
            width: 100%;
            height: 18px;
            @include typography($color: $primary-text-color, $size: 13.33px, $weight: 400, $lineHeight: 1.2, $align: left);
          }

          .card-price {
            padding-bottom: 12px;
            @include typography($color: $primary-text-color, $size: 16px, $weight: 400, $lineHeight: 1.2, $align: left);
          }
        }
      }
    }
  }

  .newsletter-section {
    @include flex-layout(row, space-between, stretch);
    width: 100%;
    padding-bottom: 32px;

    .secondary-enabled-button::before {
      content: "Ver productos";
    }

    .newsletter {
      @include flex-layout(row, space-between, stretch);
      width: 100%;


      .newsletter-image {
        @include flex-layout(row, flex-end, stretch);
        width: 50%;
        order: 2; // Para que la imagen aparezca a la derecha

        img {
          width: 100%;
          height: auto;
        }
      }

      .newsletter-content {
        @include flex-layout(column, center, flex-start);
        width: 376px;
        order: 1;
        padding-left: 120px;
        padding-right: 88px;

        h3 {
          @include typography($color: $accent-color, $size: 19.2px, $weight: 700, $lineHeight: 120%, $align: left);
          margin: 0;
        }

        p {
          @include typography($color: $primary-text-color, $size: 16px, $weight: 400, $lineHeight: 120%, $align: left);
        }

        .text-button {
          @include flex-layout(column, flex-start, flex-start);
          @include flex-layout(column, flex-start, start); // Aplicando el mixin flex-layout a text-button

          gap: 24px;

        }

        button {
          align-self: flex-start;
        }
      }
    }
  }

  .footer-section {
    @include flex-layout(column, center, center);
    background-size: 100% 600px;
    height: 600px;
    padding-top: 0;
    padding-bottom: 0;

    .footer-content {
      gap: 36px;
      padding-bottom: 0;
      width: 65%;

      .footer-info {
        @include flex-layout(row, center, flex-start);
        gap: 160px;

        .footer-column {
          margin-bottom: 0;
          text-decoration: none;
          width: 320px;

          h4 {
            @include typography($color: $background-color,
              $size: 19.2px,
              $weight: 700,
              $lineHeight: 120%,
              $letter-spacing: 0,
              $align: left);
            margin-bottom: 10px;

          }

          a,
          p {
            @include typography($color: $background-color,
              $size: 19.2px,
              $weight: 400,
              $lineHeight: 120%,
              $letter-spacing: 0,
              $align: left,
            );

            margin-bottom: 12px;
          }
        }
      }

      .footer-social {
        @include flex-layout(row, flex-start, center);
        gap: 24px;

        img {
          width: 26px;
          height: 26px;
        }
      }

      .footer-credits {
        @include typography($color: $background-color,
          $size: 19.2px,
          $weight: 300,
          $lineHeight: 120%,
          $letter-spacing: 0,
          $align: left);
        margin-bottom: 16px;
      }
    }
  }

}