.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%; /* Asegura que cada sección ocupe todo el ancho disponible */
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    font-family: $font-stack;
    box-sizing: border-box;
  }
  
  nav {
    background-color: $background-color;
    width: auto;
    padding: 10px;
    @include flex-layout(row, space-between, center); 
    color: $primary-text-color;
    .menu-icon {
        img {
          width: 18px;
          height: 18px;
        }
      }
    p {
        font-size: 1.5em;
        padding-left: 30px;
    }
    
    .logo {
        img {
          width: 38px;
        }
    }
    .nav-links {
        display: none;
      }
    
    .icons {
      @include flex-layout(row, flex-start, center); 
        gap: 15px;
        p {
          margin-right: 0.5rem;
        }
        .login-text {
            display: none;
        }
        .login-icon {
            display: flex;
        }
        img {
          width: 18px;
          height: 18px;
        }
    }
  }
  
  .primary-enabled-button {
    @include flex-layout(row, center, center); 
    padding: 6px 12px;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-5, #6887D8);
    background: var(--Color-button-background-primary, #A4B7E8);
   
    &:hover {
      background: $accent-color;
      color: white; /* Asegura que el texto sea blanco también en hover */
    }
    // Pressed
    &:active {
      background: var(--Color-Blue-Blue-8, #2D3B62);
      color: white; /* Asegura que el texto sea blanco también en active */
    }
  
     &:focus {
    background: var(--Color-Blue-Blue-8, #2D3B62); /* Mismo color que el estado active */
    color: white;
    outline: none; /* Remueve el borde predeterminado que algunos navegadores aplican */
  }
    // Disabled
    &:disabled,
    &.disabled {
      background: var(--Color-Neutral-Neutral-5, #B8B8B8);
      color: white; /* Texto blanco cuando está deshabilitado */
      cursor: not-allowed; /* Cambia el cursor para indicar que no es clicable */
      border: 1px solid var(--Color-Neutral-Neutral-5, #B8B8B8); /* Opcional: hacer que el borde también esté deshabilitado */
  }

}
  
  .secondary-enabled-button {
    @include flex-layout(row, flex-end, center);
    height: 30px;
    padding: 6px 12px;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-label-primary, #F8F8F8);

    &:hover {
      background: var(--Color-Neutral-Neutral-2, #E3E3E3);
      color: $primary-text-color; 
    }
    // Pressed
    &:active {
      background: var(--Color-Blue-Blue-8, #2D3B62);
      color: white; /* Asegura que el texto sea blanco también en active */
    }
  
     &:focus {
    background: var(--Color-Blue-Blue-8, #2D3B62); /* Mismo color que el estado active */
    color: white;
    outline: none; /* Remueve el borde predeterminado que algunos navegadores aplican */
  }
    // Disabled
    &:disabled,
    &.disabled {
      background: var(--Color-Neutral-Neutral-5, #B8B8B8);
      color: white; /* Texto blanco cuando está deshabilitado */
      cursor: not-allowed; /* Cambia el cursor para indicar que no es clicable */
      border: 1px solid var(--Color-Neutral-Neutral-5, #B8B8B8); /* Opcional: hacer que el borde también esté deshabilitado */
  }
  }
  
  .input-decor {
    width: 312px;
    height: 34px;
    border-radius: var(--Spacing-spacing-xs, 8px);
    background: #FFF;
  }
  
  .hero-section {
    @include flex-layout($direction: column);
    min-height: auto;
    width: 100%;
    background: $background-color;
    position: static; 
  
    .hero-background-image {
      width: 288px;
      height: 75px;
      position: absolute;
      left: 24.5px;
      top: 124px;
      z-index: -1;
    }
  
    .hero-content {
      .hero-texts-button {
        @include flex-layout($direction: column, $align: stretch, $justify: flex-start);
        position: relative; 
        z-index: 2;
        height: 246px;
        padding-top: 54px;
        padding-left: 12px;
  
        .hero-text {
          @include typography($primary-text-color, 1rem, 700, 1.2, 0, left);
          padding-bottom: 12px;
        }
  
        .hero-title {
          @include typography($accent-color, 2.25rem, 400, 1.4, 0, left);
          letter-spacing: 1.44px;
          flex: 1 0 0;
          padding-bottom: 30px;
        }
      }
  
      .hero-carousel {
        background: $primary-light-color;
        margin-top: 32px;
        padding: 16px 0;
        overflow: hidden;
        width: 100%;
        height: auto;
        position: relative;
  
        .carousel-wrapper {
          @include flex-layout();
          transition: transform 1s ease-in-out;
          width: 100%;
          left: 0;
        }
        
        .carousel-wrapper img {
          @include image-resize(100vw, auto, cover);
        }
      }
    }
  }
  
  .features-section {
    position: relative;
    overflow: hidden;
    height: 500px; /* Altura fija para el contenedor */
  
    // Fondo SVG como imagen de fondo
    background: url('../assets/svg/features-background.png') no-repeat center top;
    background-size: 100% 500px; /* 100% de ancho, altura fija */
   
    .features-content {
      min-height: auto;
      @include typography($color: $primary-text-color, $size: 14px, $weight: 400, $lineHeight: 1.2, $align: center, $letter-spacing: normal);
      padding: 20px;
      @include flex-layout(column, center, center);
      height: 457px;
      gap: 10px;
      position: relative;
      z-index: 1; /* Asegura que el contenido esté encima del fondo */
 
      .feature {
        @include flex-layout(row, center, flex-start);
        width: 310px;
        padding: 7px 34px;
        height: 76px;

        .feature-image {
          width: 62px;
          height: 62px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 38px; // Espacio entre la imagen y el texto

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .feature-text {
          flex: 1;
          @include flex-layout(column, center, flex-start);

          h3 {
            margin: 0;
            @include typography($color: $primary-text-color, $size: 14px, $weight: 700, $lineHeight: 1.2, $align: left);
          }

          p {
            @include typography($primary-text-color, 13.33px, 400, 120%, 0, left, normal);
          }
        }
      }
    }
  }

 
  
  .feedback-section {
    @include flex-layout(column, center, center);
    min-height: auto;
    height: 846px;
    width: 357px;
    gap: 36px;
    margin: 0 auto;
    position: static; 
  
    .feedback-title {
      @include typography($color: $accent-color, $size: 1.2rem, $weight: 700, $lineHeight: 1.2, $align: center);
      position: relative; 
  
      .feedback-background-image {
        @include image-resize(270px, 34px);
        position: absolute;
        left: 1.5px;
        top: 40px;
        z-index: -1;
      }
    }
  
    .feedbacks {
      @include flex-layout(column, space-between, stretch);
      width: 250px;
      gap: 20px 7px;
      margin: 0 auto;
  
      p {
        @include typography($size: 0.833rem, $lineHeight: 1.2, $align: center);
      }
      
      h3 {
        @include typography($color: $accent-color, $size: 1rem, $weight: 700, $lineHeight: 1.2, $align: center);
      }
  
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  
  .section-title h2 {
    @include flex-layout($justify: center, $align: center);
    @include typography($size: 1rem, $weight: 700, $lineHeight: 1.2, $align: center);
    height: 48px;
    padding: 0px 15px 0px 14px;
    flex-shrink: 0;
    background: $background-color;
  }
  
  .workshop-section {
    @include flex-layout($direction: column);
  
    .workshop {
      @include flex-layout($direction: column);
      padding-bottom: 40px;
      width: 100%;
  
      .workshop-image-left {
        height: auto;
        margin-left: 0;
        flex-shrink: 0;
        flex-grow: 0;
  
        img {
          @include image-resize(280px, auto);
        }
      }
  
      .workshop-image-left,
      .workshop-image-right {
        height: auto;
  
        img {
          width: 100%; 
          max-width: 280px;
          height: auto;
        }
      }
  
      .workshop-image-right {
        margin-left: auto;
        margin-right: 0;
        text-align: right;
        align-self: flex-end;
      }
  
      .workshop-content-left, 
      .workshop-content-right {
        @include flex-layout($justify: space-between, $align: center);
        width: 90%;
        padding-left: 18px;
        padding-right: 24px;
  
        h3 {
          @include typography($color: $accent-color, $size: 0.833rem, $weight: 700, $lineHeight: 1.2, $align: center);
        }
  
        img {
          fill: $accent-color;
          width: 24px;
          height: 24px;
          padding: 10px;
          margin-right: 18px;
          flex-shrink: 0;
        }
  
        .workshop-icon-text {
          @include flex-layout($align: flex-start);
          width: 238px;
        //  gap: 9px;
         // flex-shrink: 0;
        }
  
        .expandable-text {
          position: relative;
          //top: 30px;
          left: 0;
          padding: 10px;
          border-radius: 4px;
          z-index: 1;
          width: max-content;
          display: none;
        }
      }
    }
  }
  
  .shop-section {
    width: 100%;
    @include flex-layout($direction: column);
  
    .shop-image img {
      max-width: 100%;
    }
  
    .shop-content {
      width: 90%;
      padding-left: 24px;
      padding-right: 42px;
  
      h3 {
        @include typography($color: $accent-color, $size: 1rem, $weight: 700, $lineHeight: 1.2, $align: left);
      }
  
      p {
        width: 258px;
        @include typography($color: $primary-text-color, $size: 0.833rem, $weight: 400, $lineHeight: 1.2, $align: left);
      }
  
      .text-button {
        @include flex-layout($justify: space-between, $align: baseline);
      }
    }
  }
  
.product-section {
  
  .product-card-list {
    @include flex-layout($direction: row);
    height: 307px;
    padding: 12px;
    gap: 12px;
    overflow: hidden;

    overflow-x: auto; //scroll horizontal
    scroll-snap-type: x mandatory; // Ajuste de desplazamiento suave
  //  -webkit-overflow-scrolling: touch;
 
  .product-card {
    display: flex;
    width: 224px;
    height: 272px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 
    .card-image {
      width: 224px;
      height: 180px;
      border-radius: var(--Spacing-spacing-s, 12px) var(--Spacing-spacing-s, 12px) 0px 0px;
    }
    .card-text{
      @include flex-layout(column, space-between, flex-start);
      gap: 8px;
      width: 80%;
      height: 72px;

      .card-title {
        @include typography($color: $primary-text-color, $size: 12px, $weight: 700, $lineHeight: 1.2, $align: left);  
      }
  
      .card-info {
        width: 100%;
        height: 12px;
        top: 20px;
        white-space: nowrap;
        text-overflow: ellipsis; // tres puntos al final
        overflow: hidden; //evitar mostrarse todo el texto
        @include typography($color: $primary-text-color, $size: 12px, $weight: 400, $lineHeight: 1.2, $align: left);
      }
  
      .card-price {
        padding-bottom: 8px;
        @include typography($color: $primary-text-color, $size: 12px, $weight: 400, $lineHeight: 1.2, $align: left);
      }
  
    }
  }
  }
}

  .newsletter-section {
    width: 100%;
    @include flex-layout($direction: column);
  
    gap: 12px;
  
    .newsletter {
  
      .newsletter-image img {
        width: 100%;
      }
  
      .newsletter-content {
        padding-left: 24px;
        padding-right: 42px;
  
        h3 {
          @include typography($color: $accent-color, $size: 1rem, $weight: 700, $lineHeight: 1.2, $align: left);
        }
  
        p {
          @include typography($color: $primary-text-color, $size: 0.833rem, $weight: 400, $lineHeight: 1.2, $align: left);
        }
        .text-button {
          @include flex-layout($direction: column, $justify: space-between, $align: baseline);
          gap: 20px;
        }
      }
    }
  }
  
  .footer-section {
    @include flex-layout(column, center, center); // Aplicamos el diseño flexbox
    background: url('../assets/svg/footer-mobile-background.png') no-repeat center center;
    background-size: 100% 600px; 
    // background-size: cover; 
    margin-top: 30px;
    padding-top: 80px;
    
    .footer-content {
      @include flex-layout(column, center, stretch); // Aplicamos el diseño flexbox
      gap: 26px;
      padding-bottom: 30px;

      .footer-info {
      @include flex-layout(column, center, stretch); // Aplicamos el diseño flexbox
      gap: 10px;
      width: 75%; 
      position: relative;

  
      .footer-column {
        h4 {
          @include typography(
            $color: $background-color,
            $size: 13.33px,
            $weight: 700,
            $lineHeight: 120%,
            $letter-spacing: 0,
            $align: left
          );
          margin-bottom: 10px;
        }
  
        a, p {
          @include typography(
            $color: $background-color,
            $size: 13.33px,
            $weight: 400,
            $lineHeight: 120%,
            $letter-spacing: 0,
            $align: left,
          );
          margin-top: 4px;
          margin-bottom: 0;
          text-decoration: none;
        }
      }
  
    }
    .footer-social {
      @include flex-layout(row, flex-start, center); // Aplicamos el diseño flexbox
      gap: 16px;
      margin-top: 16px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  
    .footer-credits {
      @include typography(
        $color:$background-color,
        $size: 12px,
        $weight: 400,
        $lineHeight: 120%,
        $letter-spacing: 0,
        $align: left
      );
    margin-top: 16px;
    margin-bottom: 16px;
    }
  }
}
  