// Declaración de variables

$primary-color: #D9B59D;
$primary-light-color: #F2E6DE;
$secondary-color: #A4B7E8;
$accent-color: #546eb1;
$tertiary-color: #4E4D49;
$background-color: #F8F8F8 ;
$primary-text-color: #1F1F1D;
$font-stack: "Montserrat";