// Declaración de variables
$primary-color: #D9B59D;
$primary-light-color: #F2E6DE;
$secondary-color: #A4B7E8;
$accent-color: #546eb1;
$tertiary-color: #4E4D49;
$background-color: #F8F8F8 ;
$primary-text-color: #1F1F1D;
$font-stack: "Montserrat", sans-serif;

@mixin texto ($color, $size, $weight, $lineHeight, $marginRight, $align){
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  margin-right: $marginRight;
  text-align: $align;
  font-family: $font-stack;
}
.main-section {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  width: 100%; /* Asegura que cada sección ocupe todo el ancho disponible */
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $background-color;
    font-family: $font-stack;
    box-sizing: border-box;
}

nav {
    background-color: $background-color;
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-text-color;
    .menu-icon {
        display: block;
      }
    p {
        font-size: 1.5em;
        padding-left: 30px;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        img {
        width: 104px;
        height: 47px;
        }
    }
    .nav-links {
        display: none;
      }
    
    .icons {
        display: flex;
        align-items: center;
        gap: 15px;
        p {
          margin-right: 0.5rem;
        }
        .login-text {
            display: none;
        }
        .login-icon {
            display: flex;
        }
    }

    @media (min-width: 1024px) {
    .menu-icon {
      display: none;
    }

    .logo {
      order: 1;
    }

    .nav-links {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      order: 2;

      p {
        margin: 0 1rem;
      }
    }

    .icons {
      order: 3;

    .login-icon {
        display: none;
    }
    .login-text {
        display: flex;
    }
    }
  }
}

.primary-enabled-button {
  display: flex;
  padding: 6px 12px;

  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--Spacing-2, 8px);
  border: 1px solid var(--Color-Blue-Blue-5, #6887D8);
  background: var(--Color-button-background-primary, #A4B7E8);
}

.secondary-enabled-button {
  display: flex;
  height: 30px;
  padding: 6px 12px;

  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: var(--Spacing-2, 8px);
  border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
  background: var(--Color-button-label-primary, #F8F8F8);
}

.hero-section {
  min-height: auto;
  display: flex; 
  flex-direction: column;
  width: 100%;
  background: $background-color;
  position: static; 
  
  .hero-background-image {
    width: 300px;
    height: 94px;
    position: absolute;
    left: 20.5px;
    top: 98px;
    z-index: -1; // Envía la imagen al fondo
  }

  .hero-content {

    .hero-texts-button{
      align-items: flex-start;
      align-self: stretch;
      position: relative; 
      z-index: 2;
      height: 246px;
      padding-top: 54px;
      padding-left: 12px;
   
      .hero-text {
        @include texto ($primary-text-color, 13.33px, 700, 120%, 0, left);
        font-style: normal;
        
      }

      .hero-title {
        @include texto ($accent-color, 36px, 400, 140%, 0, left);
        font-style: normal;
        letter-spacing: 1.44px;
        flex: 1 0 0;
        padding-bottom: 30px;
      
      }
    }

    .hero-carousel {
      width: 100%;
      background: $primary-light-color;
      margin-top: 32px;
      padding: 16px 0;
      overflow: hidden; /* Oculta las imágenes que están fuera del contenedor */
      width: 100%; /* Asegura que el contenedor ocupa el 100% del ancho disponible */
      height: 312px; /* Ajusta la altura según sea necesario */
      position: relative;
    
      .carousel-wrapper {
        display: flex; /* Coloca las imágenes en una fila horizontal */
        transition: transform 1s ease-in-out; /* Efecto suave para el cambio de imagen */
        width: 100%; /* 100% por cada imagen, ajusta según el número de imágenes */
        left: 0;
      }
      
      .carousel-wrapper img {
        width: 100vw; /* Cada imagen ocupa el 100% del ancho del contenedor del carrusel */
        //height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
        object-fit: cover;
      }
    }
  }

  }

.features-section {
  min-height: auto;
  font-family: $font-stack;
  background: url('../assets/svg/features-background.svg') no-repeat center center;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 457px;
  gap: 10px;
  align-items: center;
  position: static; 
  

  .feature {
    display: flex;
    align-items: center;
    width: 310px;
    padding: 7px 34px; 
    height: 76px;

    .feature-image {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 38px; /* Espacio entre la imagen y el texto */

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .feature-text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h3 {
       //@include texto($primary-text-color, 14px, 700, 1.2, 0, left);
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
      }

      p {
        @include texto($primary-text-color, 12px, 400, 1.2, 38px, left);
      }
    }
  }
}

.feedback-section {
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 846px;
  width: 357px;
  gap: 36px;
  align-items: center;
  margin: 0 auto;
  position: static; 

  .feedback-title {
    @include texto($accent-color, 19.2px, 700, 120%, 0, center);
    position: relative; 

    .feedback-background-image {
      width: 270px;
      height: 34px;
      position: absolute;
      left: 1.5px;
      top: 40px;
      z-index: -1; // Envía la imagen al fondo
    }
  }

  .feedbacks {
    width: 250px;
    display: flex;
    flex-direction: column; // Pone los feedbacks en línea
    justify-content: space-between; 
    gap: 20px 7px;
    margin: 0 auto;

    p {
      @include texto($primary-text-color, 13.33px, 400, 120%, 0, center);
    }
    
    h3 {
      @include texto($accent-color, 16px, 700, 120%, 0, center);
    }

    img {
      display: block;   //para que las imágenes se comporten como elementos de bloque
      margin: 0 auto;
    }
  }
}

.section-title h2{
  display: flex;
  height: 48px;
  padding: 0px 15px 0px 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: $background-color;
  @include texto($primary-text-color, 16px, 700, 120%, 0, center);
}

.workshop-section {
  display: flex;
  flex-direction: column;

  .workshop {
    display: flex;
    //height: 278px;
    flex-direction: column;
   // justify-content: space-between;
   // align-items: flex-start;
    padding-bottom: 40px;
    width: 100%;
    
    .workshop-image-left {
      height: auto;
      margin-left: 0;
      flex-shrink: 0; // Previene que las imágenes se encojan más de lo necesario
      flex-grow: 0;  
      img {
        width: 280px;
        height: auto;
      }
    }
  
    .workshop-image-left,
    .workshop-image-right {
      height: auto;
      img {
        width: 100%; /* Ocupará el ancho máximo del contenedor sin desbordarse */
        max-width: 280px; /* No crecerá más allá de 520px */
        height: auto;
      }
    }

    .workshop-image-right {
      margin-left: auto; /* Alinea la imagen a la derecha */
      margin-right: 0;
      text-align: right; /* Asegura que la imagen esté alineada a la derecha dentro de su contenedor */
      align-self: flex-end; /* Alinea el contenedor en el borde derecho */
    }
  
    .workshop-content-left, 
    .workshop-content-right {
      display: flex;
      width: 90%;
      flex-direction: row;
      align-items: center;
      padding-left:  18px;
      padding-right: 24px;
      justify-content: space-between;

  
  
      h3 {
        @include texto($accent-color, 13.33px, 700, 120%, 0, center);
      }
  
      img{
        fill: $accent-color;
        width: 24px;
        height: 24px;
        padding:10px;
        margin-right: 18px; /* Espacio entre el icono y el texto */
        flex-shrink: 0; 
      }
  
      .workshop-icon-text{
        display: flex;
        width: 238px;
        gap: 9px;
        flex-shrink: 0;
      }
  
      .expandable-text {
        position: absolute;
        top: 30px; // Posiciona el texto expandido
        left: 0;
        padding: 10px;
        border-radius: 4px;
        z-index: 1;
        width: max-content;
        display: none;
      }
  
     
    }
  }
  
  }

.shop {
  .shop-image {
    width: 100%;
  }
}


footer {
    background-color: $tertiary-color;
    width: 100%;
    height: 250px;
}



@media (min-width: 1024px) and (max-width: 1280px) {
  nav .logo {
    justify-content: left;
  }

  .hero-section {
    width: 100%;
    flex-shrink: 0;
    position: relative; 
  
    .hero-background-image {
      width: 362px;
      height: 105px;
      position: absolute;
      left: 110.5px;
      top: 119px;
      z-index: -1; // Envía la imagen al fondo
    }

    .hero-content {
      width: 100%;
      height: 815px;
      position: relative; 
      z-index:2;
    
      .hero-texts-button {
        padding-top: 50px;
        padding-left: 90px;
        display: flex;
        width:  563px;
        height: 300px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        

        .hero-text {
          @include texto ($primary-text-color, 16px, 700, 120%, 0, left);
          font-style: normal;
        }
      
        .hero-title {
          @include texto ($accent-color, 48px, 400, 140%, 0, left);
          font-style: normal;
          letter-spacing: 1.44px;
          flex: 1 0 0;
        }
      
      
      }
      .hero-carousel {
        width: 594px;
        height: 424px;
        position: absolute;
        right: 87px;
        top: 330px;
        background: #FFF;

        display: flex;
        margin: 0;
        padding: 12px;

        justify-content: center;
        align-items: center;
        z-index: 2;
        overflow: hidden;

       // border: 1px solid #FFF;
        box-shadow: 0 0 0 12px #FFF; /* Ajusta el tamaño del marco según sea necesario */

        img {
          width: 570px;
          height: 400px;
          justify-content: center;
          align-items: center;
        }

        .carousel-wrapper {
          display: flex;
          width: 600%; // 100% por cada imagen (6 en total)
          height: 100%;
          transition: transform 1s ease-in-out; // Animación de deslizamiento
  
          img {
            width: 600%; // 100% * 6 imágenes
            height: 100%;
            object-fit: cover;
          }
        }
        }
    }
    .hero-content {
      position: relative; 
      
      &::after {
        content: ''; 
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; 
        height: 170px;
        background-color: $primary-light-color;
        z-index: 1;
      }
    
  }
  }

  .primary-enabled-button {
    display: flex;
    height: 40px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-background-primary, #A4B7E8);

    @include texto ($primary-text-color, 16px, 500, 120%, 0, center);
  
  }

  .secondary-enabled-button {
    display: flex;
    height: 40px;
    padding: 12px 24px;
  
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-label-primary, #F8F8F8);
    @include texto ($primary-text-color, 16px, 500, 120%, 0, center);
  }

  .features-section {
    display: grid;
    grid-template-columns: repeat(2, 240px); // Dos columnas de 240px
    column-gap: 112px;
    justify-content: center;

    .feature {
      flex: 0 0 62px;
      width: 240px;
      height: 170px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
      justify-content: center;

      .feature-image {
        margin: 0 0 20px 0;
      }

      .feature-text {
        text-align: center;
        align-items: center;

        h3 {
          font-size: 13.33px;
          font-weight: 700;
          line-height: 120%;
        }

        p {
          @include texto($primary-text-color, 13.33px, 400, 120%, 0, center);
          font-style: normal;
        }
      }
    }
  }

  .feedback-section {
    display: flex;
    flex-direction: column;
    height: 506px;
    width: 923px;
    margin: 0 auto;
  
    .feedback-title {
      h3 {
        @include texto($accent-color, 32px, 700, 120%, 0, center);
        letter-spacing: 1.6px;
        width: 923px;
      }
      .feedback-background-image {
        width: 411px;
        height: 50px;
        position: absolute;
        left: 519.5px;
        top: 28px;
        z-index: -1; // Envía la imagen al fondo
      }
    }
    
    .feedbacks {
      width: 904px;
      display: flex;
      flex-direction: row; 
      gap: 48px 7px;
      flex-shrink: 0;
      margin: 0 auto;
      
  
      p {
        @include texto($primary-text-color, 13.33px, 400, 120%, 0, center);
        width: 264px;
      }
      
      h3 {
        @include texto($accent-color, 16px, 700, 120%, 0, center);
      }
  
      img {
        display: block;   //para que las imágenes se comporten como elementos de bloque
        margin: 0 auto;
      }
    }
  }

  .section-title h2{
    display: flex;
    height: 48px;
    padding: 0px 15px 0px 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: $background-color;
    @include texto($primary-text-color, 19.2px, 700, 120%, 0, center);
  }
  
  .workshop-section {

    .secondary-enabled-button::before {
      content: "¡Me apunto!"; 
    }

    display: flex;
    flex-direction: column;
  
    .workshop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 40px;
      width: 100%;
    
      .workshop-image-left,
      .workshop-image-right {
        height: auto;
        img {
          width: 100%; /* Ocupará el ancho máximo del contenedor sin desbordarse */
          max-width: 520px; /* No crecerá más allá de 520px */
          height: auto;
        }
      }
  
      .workshop-image-right {
        margin-left: auto; /* Alinea la imagen a la derecha */
        margin-right: 0;
        order: 2;
        text-align: right; /* Asegura que la imagen esté alineada a la derecha dentro de su contenedor */
        align-self: flex-end; /* Alinea el contenedor en el borde derecho */
      }
       
 

      .workshop-content-right,
      .workshop-content-left {
        display: flex;
       // right: 127px;
       // top: 123px;
        width: 245px;
        align-items: flex-start;
        justify-content: center;
        gap: 45px;
        flex-direction: column;
        padding-left:  94px;
        padding-right: 94px;
        align-content: center;
        text-align: left;
        

      
        h3 {
          @include texto($accent-color, 16px, 700, 120%, 0, center);
          text-align: left;
        }

        .workshop-icon-text{
          display: flex;
          flex-direction: column;
          text-align: left;
          
        }
    
        .expandable-text {
          display: flex;
          position: relative;
          align-items: flex-start;
          width: 245px;
          @include texto($primary-text-color, 16px, 400, 1.2, 0, center);
          left: 0;
          text-align: left;  
          visibility: visible;
          padding: 0;
          gap: 0;
        }
    
        .expand-icon {
          display: none;
        }
      }
      }
    }
    
    }
  
  .shop {
    .shop-image {
      width: 100%;
    }
  }
  




@media (min-width: 1280px) {
  nav .logo {
    justify-content: left;
  }

  .hero-section {
    width: 100%;
    height: 698px;
    background: url('../assets/svg/Hero_desk_background.PNG') no-repeat center center;
    background-size: 100% 698px;
    align-items: center;
    justify-content: center;
    position: relative; 
  
    .hero-background-image {
      width: 450px;
      height: 124px;
      position: absolute;
      left: 30.5px;
      top: 136px;
      z-index: -1; // Envía la imagen al fondo
    }

    .hero-content {
      display: inline-flex;
      align-items: center;
      gap: 87px;
      height: 424px;

      .hero-texts-button {
        display: flex;
        width: 563px;
        height: 350px;
        
        flex-direction: column;
        align-items: flex-start;
        right: 4px;
        order: 2;
  
        .hero-text {
          @include texto ($primary-text-color, 19.2px, 700, 120%, 0, left);
          font-style: normal;
        }
      
        .hero-title {
          @include texto ($accent-color, 56px, 400, 140%, 0, left);
          font-style: normal;
          letter-spacing: 2.24px;
          flex: 1 0 0;
        }
      }

      .hero-carousel {
        width: 594px;
        height: 424px;

        display: flex;
        margin: 0;
        padding: 0;
        background: #FFF;
        align-items: center;
        justify-content: center;
        order: 1;
        overflow: hidden; 
        
        box-shadow: 0 0 0 18px #FFF; /* Ajusta el tamaño del marco según sea necesario */


        img {
          display: flex;
          width: 570px;
          height: 400.5px;

          justify-content: center;
          align-items: center;
        }
        .carousel-wrapper {
          display: flex;
          width: 600%; // 100% por cada imagen (6 en total)
          height: 100%;
          transition: transform 1s ease-in-out; // Animación de deslizamiento
  
          img {
            width: 600%; // 100% * 6 imágenes
            height: 100%;
            object-fit: cover;
          }
        }
      }



   
    }
  }


  .primary-enabled-button {
    display: flex;
    height: 43px;
    padding: 12px 72px;
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-background-primary, #A4B7E8);
    gap: 10px;
    @include texto ($primary-text-color, 19.2px, 500, 120%, 0, center);
  }

  .secondary-enabled-button {
    display: flex;
    height: 30px;
    height: 48px;
    padding: 12px 72px;
    align-items: center;
    gap: 10px;
    border-radius: var(--Spacing-2, 8px);
    border: 1px solid var(--Color-Blue-Blue-8, #2D3B62);
    background: var(--Color-button-label-primary, #F8F8F8);
    @include texto ($primary-text-color, 19.2px, 500, 120%, 0, center);
  }
  


  .features-section {
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    .feature {
      width: 265x; 
      height: auto; 
      flex-direction: column; 
  
      .feature-image {
        margin-bottom: 20px; 
        width: 98px;
        height: 98px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 0; /* Espacio entre la imagen y el texto */

      }
      .feature-text {
        text-align: center;
        align-items: center;

        h3 {
          font-size: 16px;
          font-weight: 700;
          text-align: center;
        }

        p {
          @include texto($primary-text-color, 16px, 400, 120%, 0, center);
          font-style: normal;
        }
      }
    }
  }


  .feedback-section {
    display: flex;
    flex-direction: column;
    height: 529px;
    width: 1012px;
    margin: 0 auto;
  
    .feedback-title {
      h3 {
        @include texto($accent-color, 36px, 700, 120%, 0, center);
        letter-spacing: 1.8px;
        width: 1012px;
      }
      .feedback-background-image {
        width: 452px;
        height: 66px;
        position: absolute;
        left: 573.5px;
        top: 25px;
        z-index: -1; // Envía la imagen al fondo
      }
    }
    
    .feedbacks {
      width: 1021px;
      display: flex;
      flex-direction: row; 
      gap: 48px 7px;
      flex-shrink: 0;
      margin: 0 auto;
      
  
      p {
        @include texto($primary-text-color, 16px, 400, 120%, 0, center);
        width: 264px;
      }
      
      h3 {
        @include texto($accent-color, 19.2px, 700, 120%, 0, center);
      }
  
      img {
        display: block;   //para que las imágenes se comporten como elementos de bloque
        margin: 0 auto;
      }
    }
  }


  .section-title h2{
    display: flex;
    height: 72px;
    padding: 0px 15px 0px 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: $background-color;
    @include texto($primary-text-color, 23.04px, 700, 120%, 0, center);
  }
  
  .workshop-section {

    .secondary-enabled-button::before {
      content: "¡Me apunto!"; 
    }

    display: flex;
    flex-direction: column;
  
    .workshop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 40px;
      width: 100%;
    
      .workshop-image-left,
      .workshop-image-right {
        height: auto;
        img {
          width: 100%; /* Ocupará el ancho máximo del contenedor sin desbordarse */
          max-width: 640px; /* No crecerá más allá de 520px */
          height: auto;
        }
      }
  
      .workshop-image-right {
        margin-left: auto; /* Alinea la imagen a la derecha */
        margin-right: 0;
        order: 2;
        text-align: right; /* Asegura que la imagen esté alineada a la derecha dentro de su contenedor */
        align-self: flex-end; /* Alinea el contenedor en el borde derecho */
      }
       
 

      .workshop-content-right,
      .workshop-content-left {
        display: flex;
       // right: 127px;
       // top: 123px;
        width: 300px;
        align-items: flex-start;
        justify-content: center;
        gap: 45px;
        flex-direction: column;
        padding-left:  94px;
        padding-right: 94px;
        align-content: center;
        text-align: left;
        

      
        h3 {
          @include texto($accent-color, 19.2px, 700, 120%, 0, center);
          text-align: left;
        }

        .workshop-icon-text{
          display: flex;
          flex-direction: column;
          text-align: left;
          
        }
    
        .expandable-text {
          display: flex;
          position: relative;
          align-items: flex-start;
          width: 300px;
          @include texto($primary-text-color, 19.2px, 400, 1.2, 0, center);
          left: 0;
          text-align: left;  
          visibility: visible;
          padding: 0;
          gap: 0;
        }
    
        .expand-icon {
          display: none;
        }
      }
      }
    }
    
    }


